@keyframes scoreBounce {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.metaData {
  border: 1px solid black;
  margin: 1em;
  flex: 1;
  dislay: flex;
}

.score {
  font-size:  5em;
  flex: 1;
  opacity: 0;
}

.score-animate {
  animation: scoreBounce 2s ease-in-out;
}

.nextTemplate {
  font-size:  5em;
  flex: 1;
}

span.progress {
  font-size:  1.2em;
}

.progress-bar {
  margin-top: 1em;
}

.total {
  font-size:  1em;
  margin-top: 2em;
  flex: 1;
}

.label {
  font-size: 0.3em;
  color: grey;
}

@media only screen and (max-height: 730px) {
  .score {
    font-size:  2em;
    flex: 1;
    opacity: 0;
  }

  .nextTemplate {
    font-size:  2em;
    flex: 1;
  }

  .total {
    font-size:  0.8em;
    margin-top: 1em;
    flex: 1;
  }

  .label {
    font-size: 0.2em;
  }
}
