@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fallingBlock {
  0% {
    opacity: 0;
    top: 5%;
  }
  10% {
    opacity: 0.2;
    top: 10%;
  }
  40% {
    opacity: 1;
    top: 40%;
  }
  90% {
    opacity: 0;
    top: 80%;
  }
}

.block {
  font-size: 7em;
  position: relative;
  animation: fallingBlock 8s linear infinite;
  animation-delay: 3s;
  opacity: 1;
}
