.drawArea {
  flex: 1;
  margin: 1em;
  border: 1px solid black;
  cursor: crosshair;
  min-height: 150px;
  max-height: 40%;
}

.path {
  fill: none;
  stroke-width: 2px;
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.drawing {
  width: 100%;
  height: 100%;
}
